name: Build and Test

on:
  pull_request:
    types: [opened, reopened, synchronize, ready_for_review]
    branches:
      - 'main'

permissions:
  contents: write

jobs:
  build:
    if: "!github.event.pull_request.draft"
    strategy:
      matrix:
        os: [ubuntu-latest, macOS-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    name: Build & Test
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup go
        uses: actions/setup-go@v4
        with:
          go-version: '^1.16.0'

      - name: Download dependencies
        run: go mod download

      - name: Build & Test
        run: |
          go build -o ./helm-changelog -v ./cmd/
          go test ./...
